@import "defaults";

.champion-widget {
  color: @fontColor;
  font-size: 10px;

  position: relative;
  display: table;
  border: 1px solid black;
  padding: 10px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background-color: @widgetColor;

  .top {}
  .middle {}
  .bottom {}
}

.champions-icon {
  background-image: url('@{resourcePath}champions.jpg');
  height: 32px;
  width: 32px;
  float: left;
}

.champion-ability {
  background-color: @pallet2;
  color: @pallet2;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}

.champion-ability-innate {
  .champion-ability;
  background-color: #fafafa;
  cursor: default;
}

.ability-selected {
  .champion-ability;

  background-color: #ECDEA2;
  font-weight: bold;
}

.champion-header {
  width: 600px;
}

.champion-abilities {
  .header {
    font-size: @fontSizeMedium;
    text-transform: uppercase;
    text-align: center;
    color: @fontColor;
  }
}

.champion-stats {
  width: 600px;

  table {
    padding: 0;
    margin: 0;
  }

  .label {
    padding: 0 4px 0 0;
    width: 160px;
    overflow: hidden;
    display: inline-block;
    color: @fontColor;
  }

  td {
    vertical-align: top;
    font-size: @fontSizeMedium;
  }

  ul {
    padding: 0px 10px;
    margin: 0;
  }

  ul li {
    position: relative;
    height: 21px;
  }

  ul li span.label {
    line-height: 21px;
    vertical-align: middle;
    position: absolute;
    left: 24px;
    top: 0px;
  }

  ul li span.icon-tiny {
    line-height: 21px;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 21px;
  }

  ul li span.stat {
    line-height: 21px;
    vertical-align: middle;
    position: absolute;
    left: 160px;
    top: 0px;
    height: 21px;
    color: @fontColor;
  }


  td ul {
    list-style: none;
  }
}
