@resourcePath : "../../library/";

@font : 'arial';
@fontColor : #ffffff;

@widgetColor : #2f2f2f;
@widgetBorder : 1px solid black;

@fontSizeSmall : 10px;
@fontSizeMedium : 12px;
@fontSizeLarge : 14px;

@pallet1 : #15252d;
@pallet2 : #768766;
@pallet3 : #e5db82;
@pallet4 : #bb9944;
@pallet5 : #bb6622;
@pallet6 : #b1200f;
@pallet7 : #342e3a;