.items-widget {
  color: @fontColor;
  font-size: 10px;

  position: relative;
  display: table;
  border: 1px solid black;
  padding: 10px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background-color: @widgetColor;

  .menu {
    display: table;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;

    li {
      float: left;
      cursor: pointer;
      font-size: 12px;
      padding: 4px;
    }
  }

  .itemset {
    background-color: @widgetColor;
    width: 380px;
    display: block;
    margin: 0;
    color: @fontColor;
    height: 100px;
    position: relative;

    .title {
      position: absolute;
      top: 7px;
      width: 380px;
      text-align: center;
    }

    .title input {
      border: 1px solid @pallet4;
      background-color: @widgetColor;
      color: @fontColor;
      height: 20px;
      padding: 0 4px;
      text-align: center;
    }

    ul {
      margin: 0px;
      padding: 0px;
      background-color: @widgetColor;
      display: block;
      position: absolute;
      top: 30px;
      left: 15px;
    }

    ul li {
      float: left;
      border: 1px solid @pallet4;
      margin: 4px;
      display: block;
      position: relative;
    }

    ul li.selected {
      border: 1px solid #f8ee8e;
    }
    .items-please-select {
      height: 48px;
      width: 48px;
      float: left;
    }

    .item-add {
      position: absolute;
      top: 3px;
      left: 3px;
    }

    .item-amount {
      position: absolute;
      bottom: 0px;
      right: 3px;
    }

    .itemset-remove, .item-remove {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }
}

.items-icon {
  background-image: url('@{resourcePath}items.jpg');
  height: 48px;
  width: 48px;
  float: left;
}

