@import "defaults";
@import "champions";
@import "summonerspells";
@import "items";
@import "runes";
@import "masteries";
@import "utilities";
@import "bootstrap-glyphicons";
@import "../../library/champions";
@import "../../library/runeicons";
@import "../../library/items";
@import "../../library/summonerspells";
@import "../../library/masteries";

.ui-draggable {
  z-index: 10000;
}

.icon-tiny {
  height: 21px;
  width: 21px;
  display: inline-block;
}

.attack-damage-tiny {
  background-image: url('../../images/attack_damage.png');
  .icon-tiny
}

.ability-power-tiny {
  background-image: url('../../images/ability_power.png');
  .icon-tiny
}

.attack-speed-tiny {
  background-image: url('../../images/attack_speed.png');
  .icon-tiny
}

.movement-speed-tiny {
  background-image: url('../../images/movement_speed.png');
  .icon-tiny
}

.armor-tiny {
  background-image: url('../../images/armor.png');
  .icon-tiny
}

.magic-resist-tiny {
  background-image: url('../../images/magic_resist.png');
  .icon-tiny
}

.ui-draggable {
  border: 1px solid white;
}

.glyphicon {
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 12px;
  cursor: pointer;
}

h1, h2, h3 {
  margin: 4px 0px;
}

body, li, input, div, span {
  font-family: @font;
}