@seasonWidth : 274 * 3;
@seasonHeight : 517;
@treeWidth : @seasonWidth / 3;
@masteryWidth: 48;
@masteryMargin : (@treeWidth - (@masteryWidth * 4)) / 5;
@titleHeight : 40;

.masteries-widget {
  width: ~"@{seasonWidth}px";
  position: relative;
  background-color: @widgetColor;
  color: @fontColor;
  height: ~"@{seasonHeight}px";
  background-image: url('@{resourcePath}masteries-background.png');
}

.masteries-icon {
  background-image: url('@{resourcePath}masteries.jpg');
  width: ~"@{masteryWidth}px";
  height: ~"@{masteryWidth}px";
  position: absolute;
  background-color: @widgetBorder;
  border: 1px solid @pallet3;
}

.masteries-icon-disabled {
  opacity: 0.2;
}

.masteries-rank {
  position: absolute;
  top: 40px;
  background-color: #1f1f1f;
  border: 1px solid #e5db82;
  left: 5px;
  width: 35px;
  text-align: center;
  font-size: 12px;
}

.masteries-tree {
  width: ~"@{treeWidth}px";
  height: ~"@{seasonHeight}px";
  position: absolute;
  border: 0px solid black;
  padding: 0;
  margin: 0;
  overflow: hidden;

  .title {
    width: ~"@{treeWidth}px";
    position: absolute;
    text-align: center;
    top: 10px;
  }
}

.tree-0 {
}

.tree-1 {
  @w: @treeWidth*1;
  left: ~"@{w}px";
}

.tree-2 {
  @w: @treeWidth*2;
  left: ~"@{w}px";
}

.masteries-tier {
  width: ~"@{treeWidth}px";
  position: absolute;
}

.tier-0 {
  @t : @titleHeight + (0 * @masteryWidth) + (0 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-1 {
  @t : @titleHeight + (1 * @masteryWidth) + (1 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-2 {
  @t : @titleHeight + (2 * @masteryWidth) + (2 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-3 {
  @t : @titleHeight + (3 * @masteryWidth) + (3 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-4 {
  @t : @titleHeight + (4 * @masteryWidth) + (4 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-5 {
  @t : @titleHeight + (5 * @masteryWidth) + (5 * @masteryMargin);
  top: ~"@{t}px";
}

.tier-6 {
  @t : @titleHeight + (6 * @masteryWidth) + (6 * @masteryMargin);
  top: ~"@{t}px";
}

.mastery-0 {
  left: ~"@{masteryMargin}px";
}

.mastery-1 {
  @l: (@masteryMargin*2)+@masteryWidth;
  left: ~"@{l}px";
}

.mastery-2 {
  @l: (@masteryMargin*3)+(@masteryWidth*2);
  left: ~"@{l}px";
}

.mastery-3 {
  @l: (@masteryMargin*4)+(@masteryWidth*3);
  left: ~"@{l}px";
}


