ul.ui-list-runes {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 400px;

  .description {
    color: white;
  }

  li {
    cursor: pointer;
  }
}

.runes-widget {
  color: @fontColor;
  font-size: 10px;

  position: relative;
  display: table;
  border: 1px solid black;
  padding: 10px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background-color: @widgetColor;

  ul.menu {
    min-width: 400px;
    display: table;

    li {
      float: left;
      cursor: pointer;
      font-size: 12px;
      padding: 4px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
    }
  }

  ul.list {
    min-width: 400px;

    >li {
      background-color: white;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin: 4px;

      td:nth-child(1) {
        width: 30px;
        text-align: center;
      }

      td:nth-child(3) {
        width: 300px;
        text-align: left;
        padding: 0 4px 0 4px;
      }

      td:nth-child(4) {
        width: 30px;
        text-align: center;
      }
    }
  }
}

.runes-icon {
  background-image: url('@{resourcePath}runeicons.jpg');
  height: 48px;
  width: 48px;
  position: relative;
  left: 0;
  top: 0;
}
