@import "defaults";

.spells-widget {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: @widgetColor;
  width: 140px;

  .list {
    list-style-type: none;
    height: 64px;
    width: 140px;
    padding: 0;
    margin: 0 12px 0 12px;

    li {
      float: left;
      padding: 7px 4px;
    }

    div {
      border: 1px solid #242424;
    }

    div.selected {
      border: 1px solid #d0d0d0;
    }
  }
}

.summonerspells-icon {
  background-image: url('@{resourcePath}summonerspells.jpg');
  height: 48px;
  width: 48px;
  float: left;
}


