@import "defaults";

.leaguepress-ui-tooltip {
  z-index: 90000;
  position: absolute;
  display: block;
  background-color: white;
  border: solid 1px #f2f2f2;
}

.leaguepress-ui-select {
  /* display: none; */
  background-color: @widgetColor;
  border: @widgetBorder;
  width: 400px;
  padding: 4px;

  input[name="filter"] {
    width: 400px;
    padding: 0;
  }

  .ui-list {
    list-style-type: none;
    display: table;
    padding: 0;
    margin: 0;

    li {
      float: left;
      display: block;
    }
  }

  .ui-options {
    color: @fontColor;
    font-family: @font;
    font-size: 14px;
    text-transform: uppercase;

    span {
      display: inline-block;
    }
  }

  .champions-select-container {
    display: table-cell;
    width: 400px;
  }
}