<div class="champion-widget">
    <div class="top"></div>
    <div class="middle">
        <div class="champion-header">
            <div style="float:left" data-champion-code="{{ champion.code }}"
                 class="champions-icon champions-{{#cssCode champion.code}}{{/cssCode}}"></div>
        </div>
        <div class="champion-stats">
            <table>
                <tr>
                    <td style="width: 240px">
                        <ul>
                            <li>
                                <span class="attack-damage-tiny"></span>
                                <span class="label">Attack Damage</span>
                                <span class="stat">{{ champion.attackDamage }}</span>
                            </li>
                            <li>
                                <span class="ability-power-tiny"></span>
                                <span class="label">Ability Power</span>
                                <span class="stat">{{ champion.abilityPower }}</span>
                            </li>
                            <li>
                                <span class="attack-speed-tiny"></span>
                                <span class="label">Attack Speed</span>
                                <span class="stat">{{ champion.attackSpeed }}</span>
                            </li>
                            <li>
                                <span class="movement-speed-tiny"></span>
                                <span class="label">Movement Speed</span>
                                <span class="stat">{{ champion.movementSpeed }}</span>
                            </li>
                            <li>
                                <span class="armor-tiny"></span>
                                <span class="label">Armor</span>
                                <span class="stat">{{ champion.armor }}</span>
                            </li>
                            <li>
                                <span class="magic-resist-tiny"></span>
                                <span class="label">Magic Resist</span>
                                <span class="stat">{{ champion.magicResistance }}</span>
                            </li>
                        </ul>
                    </td>
                    <td style="width: 240px">
                        <ul>
                            <li>
                                <span class="label">Attack Rating</span>
                                <span class="stat">{{ champion.attackRating }}</span>
                            </li>
                            <li>
                                <span class="label">Spells Rating</span>
                                <span class="stat">{{ champion.healthRating }}</span>
                            </li>
                            <li>
                                <span class="label">Health Rating</span>
                                <span class="stat">{{ champion.healthRating }}</span>
                            </li>

                            <li>
                                <span class="label">Difficulty Rating</span>
                                <span class="stat">{{ champion.difficultyRating }}</span>
                            </li>
                            <li>
                                <span class="label">Health</span>
                                <span class="stat">{{ champion.health }}</span>
                            </li>
                            <li>
                                <span class="label">Mana</span>
                                <span class="stat">{{ champion.mana }}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="champion-abilities">
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    {{#each slots}}
                    <td class="header">{{this}}</td>
                    {{/each}}
                </tr>
                {{#each champion.abilities}}
                <tr>
                    <td data-champion-code="" class="champions-icon champions-{{#cssCode ../champion.code}}{{/cssCode}}-{{#cssCode this.code}}{{/cssCode}}">
                        &nbsp;
                    </td>
                    {{#ifInnate this.archetype ../slots}}
                    {{#each this}}
                    <td class="champion-ability-innate">&nbsp;</td>
                    {{/each}}
                    {{else}}
                    {{#each this.slots}}
                    <td class="champion-ability" data-ability="{{../ability.code}}" data-slot="{{this}}">{{this}}</td>
                    {{/each}}
                    {{/ifInnate}}
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="bottom"></div>
</div>