<div class="spells-widget">
    <ul class="list">
        {{#each summonerspells}}
            <li>
                <div data-summonerspell-index="{{ @index }}" data-summonerspell-code="{{ this }}"
                     class="summonerspells-icon summonerspells-{{#cssCode this}}{{/cssCode}}"></div>
            </li>
        {{/each}}
    </ul>
</div>