<div class="items-widget">
    <ul class="menu">
        <li>
            <div class="items-show">[Show Items]</div>
        </li>
        <li>
            <div class="itemset-add">[Add ItemSet]</div>
        </li>
    </ul>
    {{#each itemsbuild.itemSets}}
        <div class="itemset" data-itemset-index="{{ @index }}">
            <div class="title">
                <input type="text" name="title" value="{{ title }}"/>
            </div>
            <ul>
                {{#each items}}
                    <li>
                        {{#if this}}
                            <div data-item-code="{{ this.code }}"
                                 data-item-index="{{ @index }}"
                                 class="items-icon items-{{#cssCode this.code}}{{/cssCode}}">
                                &nbsp;
                            </div>
                            <div class="item-remove">
                                <span style="width: 12px;" class="glyphicon glyphicon-remove"></span>
                            </div>
                            {{#if this.isMultiple}}
                                <div class="item-add">
                                    <span style="width: 12px;" class="glyphicon glyphicon-plus"></span>
                                </div>
                                <div class="item-amount">
                                    {{ this.amount }}
                                </div>
                            {{/if}}
                        {{else}}
                            <div data-item-code=""
                                 data-item-index="{{ @index }}"
                                 class="items-please-select">
                                &nbsp;
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            <div class="itemset-remove">
                <span style="width: 12px;" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    {{/each}}
</div>