<div class="leaguepress-ui-select">
    <div class="ui-options">
        <span style="width: 366px;">{{title}}</span>
        <span style="width: 12px;" class="glyphicon glyphicon-move"></span>
        <span style="width: 12px;" class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="ui-filter">
        <input type="text" name="filter"/>
    </div>
    <ul class="ui-list">
        {{#each list}}
            <li>
                <div data-{{../singularName}}-index="{{ @index }}" data-{{../singularName}}-code="{{ this.code }}"
                     class="{{../pluralName}}-icon {{../pluralName}}-{{#cssCode this.code}}{{/cssCode}}"></div>
            </li>
        {{/each}}
    </ul>
</div>