<div class="masteries-widget">
    {{#each masteriesbuild.trees}}
    <div class="tree-{{@index}} masteries-tree">
        <div class="title">{{description}} {{treeTotal}}</div>
        {{#each tiers}}
        <div class="tier-{{tierNumber}} masteries-tier">
            {{#each masteries}}
            {{#if code}}
            {{#if isDisabled}}
            <div data-mastery-code="{{code}}" title="{{shortName}}"
                 class="mastery-{{masteryNumber}} masteries-icon masteries-icon-disabled masteries-{{#cssCode code}}{{/cssCode}}">
                &nbsp;
                <div class="masteries-rank"><span data-mastery-rank="{{rank}}">{{rank}}</span><span>/{{maxRank}}</span></div>
            </div>
            {{else}}
            <div data-mastery-code="{{code}}" title="{{shortName}}"
                 class="mastery-{{masteryNumber}} masteries-icon masteries-{{#cssCode code}}{{/cssCode}}">
                &nbsp;
                <div class="masteries-rank"><span data-mastery-rank="{{rank}}">{{rank}}</span><span>/{{maxRank}}</span></div>
            </div>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>