<div class="runes-widget">
    <ul class="menu">
        <li>
            <div class="runes-show">[Show Runes]</div>
        </li>
    </ul>
    <ul class="list">
        {{#each runesbuild.runes.mark}}
        <li data-rune-code="{{ this.code }}">
            <table>
                <tr>
                    <td>{{ this.amount }}x</td>
                    <td>
                        <div data-rune-code="{{ this.code }}"
                             class="runes-icon runeicons-{{#cssCode this.iconCode}}{{/cssCode}}">
                        </div>
                    </td>
                    <td>
                        {{ this.shortName }}
                    </td>
                    <td>
                        <ul>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-plus add-rune"></span></li>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-minus remove-rune"></span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
        {{/each}}
        {{#each runesbuild.runes.glyph}}
        <li data-rune-code="{{ this.code }}">
            <table>
                <tr>
                    <td>{{ this.amount }}x</td>
                    <td>
                        <div data-rune-code="{{ this.code }}"
                             class="runes-icon runeicons-{{#cssCode this.iconCode}}{{/cssCode}}">
                        </div>
                    </td>
                    <td>
                        {{ this.shortName }}
                    </td>
                    <td>
                        <ul>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-plus add-rune"></span></li>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-minus remove-rune"></span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
        {{/each}}
        {{#each runesbuild.runes.seal}}
        <li data-rune-code="{{ this.code }}">
            <table>
                <tr>
                    <td>{{ this.amount }}x</td>
                    <td>
                        <div data-rune-code="{{ this.code }}"
                             class="runes-icon runeicons-{{#cssCode this.iconCode}}{{/cssCode}}">
                        </div>
                    </td>
                    <td>
                        {{ this.shortName }}
                    </td>
                    <td>
                        <ul>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-plus add-rune"></span></li>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-minus remove-rune"></span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
        {{/each}}
        {{#each runesbuild.runes.quintessence}}
        <li data-rune-code="{{ this.code }}">
            <table>
                <tr>
                    <td>{{ this.amount }}x</td>
                    <td>
                        <div data-rune-code="{{ this.code }}"
                             class="runes-icon runeicons-{{#cssCode this.iconCode}}{{/cssCode}}">
                        </div>
                    </td>
                    <td>
                        {{ this.shortName }}
                    </td>
                    <td>
                        <ul>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-plus add-rune"></span></li>
                            <li><span style="width: 12px;" class="glyphicon glyphicon-minus remove-rune"></span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
        {{/each}}
    </ul>
</div>