<div class="leaguepress-ui-select">
    <div class="ui-options">
        <span style="width: 366px;">{{title}}</span>
        <span style="width: 12px;" class="glyphicon glyphicon-move"></span>
        <span style="width: 12px;" class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="ui-filter">
        <input type="text" name="filter"/>
    </div>
    <ul class="ui-list-runes">
        {{#each list}}
            <li>
                <table>
                    <tr>
                        <td class="icon">
                            <div data-rune-code="{{ this.code }}"
                                 class="runes-icon runeicons-{{#cssCode this.iconCode}}{{/cssCode}}"></div>
                        </td>
                        <td class="description">{{ this.shortName }}</td>
                    </tr>
                </table>
            </li>
        {{/each}}
    </ul>
</div>
