.champions {height: 32px; width: 32px;}
.champions-jayce-hyper-charge { background-position:0px 0px; }
.champions-morgana-soul-siphon { background-position:-32px 0px; }
.champions-talon-rake { background-position:-64px 0px; }
.champions-master-yi-highlander { background-position:-96px 0px; }
.champions-tryndamere { background-position:-128px 0px; }
.champions-drmundo-burning-agony { background-position:-160px 0px; }
.champions-karma-inner-flame { background-position:-192px 0px; }
.champions-ryze-desperate-power { background-position:-224px 0px; }
.champions-kassadin-nether-blade { background-position:-256px 0px; }
.champions-leblanc { background-position:-288px 0px; }
.champions-blitzcrank-static-field { background-position:-320px 0px; }
.champions-nami-ebb-and-flow { background-position:-352px 0px; }
.champions-varus-piercing-arrow { background-position:0px -32px; }
.champions-heimerdinger-techmaturgical-repair-bots { background-position:-32px -32px; }
.champions-evelynn-dark-frenzy { background-position:-64px -32px; }
.champions-annie-disintegrate { background-position:-96px -32px; }
.champions-alistar { background-position:-128px -32px; }
.champions-elise-venomus-bite { background-position:-160px -32px; }
.champions-hecarim-warpath { background-position:-192px -32px; }
.champions-garen-decisive-strike { background-position:-224px -32px; }
.champions-karma-defiance { background-position:-256px -32px; }
.champions-vi-vault-breaker { background-position:-288px -32px; }
.champions-nunu-blood-boil { background-position:-320px -32px; }
.champions-kogmaw-icathian-surprise { background-position:-352px -32px; }
.champions-leblanc-sigil-of-silence { background-position:0px -64px; }
.champions-varus-living-vengeance { background-position:-32px -64px; }
.champions-amumu-tantrum { background-position:-64px -64px; }
.champions-leona-shield-of-daybreak { background-position:-96px -64px; }
.champions-nami-tidal-wave { background-position:-128px -64px; }
.champions-talon-cutthroat { background-position:-160px -64px; }
.champions-corki-phosporus-bomb { background-position:-192px -64px; }
.champions-fiora-riposte { background-position:-224px -64px; }
.champions-ashe-focus { background-position:-256px -64px; }
.champions-gangplank-remove-scurvy { background-position:-288px -64px; }
.champions-anivia { background-position:-320px -64px; }
.champions-udyr-tiger-stance { background-position:-352px -64px; }
.champions-kogmaw-living-artillery { background-position:0px -96px; }
.champions-rumble-the-equalizer { background-position:-32px -96px; }
.champions-fiora-burst-of-speed { background-position:-64px -96px; }
.champions-riven-broken-wings { background-position:-96px -96px; }
.champions-cassiopeia-noxious-blast { background-position:-128px -96px; }
.champions-poppy-diplomatic-immunity { background-position:-160px -96px; }
.champions-ziggs-mega-inferno-bomb { background-position:-192px -96px; }
.champions-diana-moonfall { background-position:-224px -96px; }
.champions-ahri-essence-theft { background-position:-256px -96px; }
.champions-pantheon-aegis-protection { background-position:-288px -96px; }
.champions-elise-skittering-frenzy { background-position:-320px -96px; }
.champions-twisted-fate-loaded-dice { background-position:-352px -96px; }
.champions-leesin-resonating-strike { background-position:0px -128px; }
.champions-fizz-playful { background-position:-32px -128px; }
.champions-taric-gemcraft { background-position:-64px -128px; }
.champions-sejuani-glacial-prison { background-position:-96px -128px; }
.champions-karma-inspire { background-position:-128px -128px; }
.champions-gragas { background-position:-160px -128px; }
.champions-nidalee-javelin-toss { background-position:-192px -128px; }
.champions-vi-denting-blows { background-position:-224px -128px; }
.champions-nunu { background-position:-256px -128px; }
.champions-leesin-dragons-rage { background-position:-288px -128px; }
.champions-ahri-foxfire { background-position:-320px -128px; }
.champions-aatrox-blood-price { background-position:-352px -128px; }
.champions-orianna-command-dissonance { background-position:0px -160px; }
.champions-sejuani-arctic-assault { background-position:-32px -160px; }
.champions-janna-zephyr { background-position:-64px -160px; }
.champions-lulu-whimsy { background-position:-96px -160px; }
.champions-syndra { background-position:-128px -160px; }
.champions-luxi-light-binding { background-position:-160px -160px; }
.champions-trundle-pillar-of-ice { background-position:-192px -160px; }
.champions-maokai-twisted-advance { background-position:-224px -160px; }
.champions-alistar-trample { background-position:-256px -160px; }
.champions-garen-demacian-justice { background-position:-288px -160px; }
.champions-tristana-draw-a-bead { background-position:-320px -160px; }
.champions-urgot-acid-hunter { background-position:-352px -160px; }
.champions-elise { background-position:0px -192px; }
.champions-ashe-enchanted-crystal-arrow { background-position:-32px -192px; }
.champions-annie-molten-shield { background-position:-64px -192px; }
.champions-poppy { background-position:-96px -192px; }
.champions-draven-stand-aside { background-position:-128px -192px; }
.champions-nautilus { background-position:-160px -192px; }
.champions-viktor-chaos-storm { background-position:-192px -192px; }
.champions-rumble { background-position:-224px -192px; }
.champions-chogath-vorpal-spikes { background-position:-256px -192px; }
.champions-ezreal-essence-flux { background-position:-288px -192px; }
.champions-sejuani-flail-of-the-northern-winds { background-position:-320px -192px; }
.champions-alistar-headbutt { background-position:-352px -192px; }
.champions-fiora-duelist { background-position:0px -224px; }
.champions-ryze-spell-flux { background-position:-32px -224px; }
.champions-viktor-power-transfer { background-position:-64px -224px; }
.champions-fiddlesticks-dread { background-position:-96px -224px; }
.champions-kogmaw { background-position:-128px -224px; }
.champions-anivia-glacial-storm { background-position:-160px -224px; }
.champions-hecarim { background-position:-192px -224px; }
.champions-twitch-expunge { background-position:-224px -224px; }
.champions-diana-moonsilver-blade { background-position:-256px -224px; }
.champions-graves-collateral-damage { background-position:-288px -224px; }
.champions-trundle-subjugate { background-position:-320px -224px; }
.champions-galio-righteous-gust { background-position:-352px -224px; }
.champions-leesin { background-position:0px -256px; }
.champions-khazix-leap { background-position:-32px -256px; }
.champions-mordekaiser-siphon-of-destruction { background-position:-64px -256px; }
.champions-viktor-gravity-field { background-position:-96px -256px; }
.champions-heimerdinger { background-position:-128px -256px; }
.champions-jax-leap-strike { background-position:-160px -256px; }
.champions-ashe-frost-shot { background-position:-192px -256px; }
.champions-taric-imbue { background-position:-224px -256px; }
.champions-talon-shadow-assault { background-position:-256px -256px; }
.champions-viktor-death-ray { background-position:-288px -256px; }
.champions-malzahar-null-zone { background-position:-320px -256px; }
.champions-annie { background-position:-352px -256px; }
.champions-ezreal { background-position:0px -288px; }
.champions-irelia { background-position:-32px -288px; }
.champions-rammus-powerball { background-position:-64px -288px; }
.champions-twisted-fate-stacked-deck { background-position:-96px -288px; }
.champions-ryze-overload { background-position:-128px -288px; }
.champions-morgana-tormented-soil { background-position:-160px -288px; }
.champions-teemo-noxious-trap { background-position:-192px -288px; }
.champions-twisted-fate-wild-cards { background-position:-224px -288px; }
.champions-nocturne-umbra-blades { background-position:-256px -288px; }
.champions-khazix { background-position:-288px -288px; }
.champions-ezreal-mystic-shot { background-position:-320px -288px; }
.champions-renekton-slice { background-position:-352px -288px; }
.champions-tryndamere-spinning-slash { background-position:0px -320px; }
.champions-gragas-drunken-rage { background-position:-32px -320px; }
.champions-veigar-baleful-strike { background-position:-64px -320px; }
.champions-trundle { background-position:-96px -320px; }
.champions-akali { background-position:-128px -320px; }
.champions-rumble-scrap-shield { background-position:-160px -320px; }
.champions-ziggs-short-fuse { background-position:-192px -320px; }
.champions-galio { background-position:-224px -320px; }
.champions-ziggs-bouncing-bomb { background-position:-256px -320px; }
.champions-katarina-sinister-steel { background-position:-288px -320px; }
.champions-khazix-void-spike { background-position:-320px -320px; }
.champions-karma-soulflare { background-position:-352px -320px; }
.champions-chogath-rupture { background-position:0px -352px; }
.champions-orianna-command-attack { background-position:-32px -352px; }
.champions-draven-blood-rush { background-position:-64px -352px; }
.champions-mordekaiser-mace-of-spades { background-position:-96px -352px; }
.champions-heimerdinger-h28g-evolution-turret { background-position:-128px -352px; }
.champions-rammus-defensive-ball-curl { background-position:-160px -352px; }
.champions-blitzcrank-overdrive { background-position:-192px -352px; }
.champions-mordekaiser-creeping-death { background-position:-224px -352px; }
.champions-irelia-bladesurge { background-position:-256px -352px; }
.champions-khazix-unseen-threat { background-position:-288px -352px; }
.champions-morgana-dark-binding { background-position:-320px -352px; }
.champions-ahri { background-position:-352px -352px; }
.champions-elise-spider-formhuman-form { background-position:0px -384px; }
.champions-nami-aqua-prison { background-position:-32px -384px; }
.champions-malphite-unstoppable-force { background-position:-64px -384px; }
.champions-aatrox-massacre { background-position:-96px -384px; }
.champions-veigar { background-position:-128px -384px; }
.champions-lissandra-iceborn { background-position:-160px -384px; }
.champions-jarvan-iv-dragon-strike { background-position:-192px -384px; }
.champions-jayce-transform-mercury-cannon { background-position:-224px -384px; }
.champions-morgana-black-shield { background-position:-256px -384px; }
.champions-luxi-illumination { background-position:-288px -384px; }
.champions-quinn-and-valor-blinding-assault { background-position:-320px -384px; }
.champions-quinn-and-valor { background-position:-352px -384px; }
.champions-graves-smoke-screen { background-position:0px -416px; }
.champions-lulu-wild-growth { background-position:-32px -416px; }
.champions-khazix-evolved-wings { background-position:-64px -416px; }
.champions-kayle-holy-fervor { background-position:-96px -416px; }
.champions-elise-spider-swarm { background-position:-128px -416px; }
.champions-kayle-reckoning { background-position:-160px -416px; }
.champions-maokai-vengeful-maelstrom { background-position:-192px -416px; }
.champions-janna-howling-gale { background-position:-224px -416px; }
.champions-leblanc-mirror-image { background-position:-256px -416px; }
.champions-vi-excessive-force { background-position:-288px -416px; }
.champions-ezreal-trueshot-barrage { background-position:-320px -416px; }
.champions-rengar-savagery { background-position:-352px -416px; }
.champions-master-yi { background-position:0px -448px; }
.champions-aatrox-dark-flight { background-position:-32px -448px; }
.champions-tristana { background-position:-64px -448px; }
.champions-karthus-requiem { background-position:-96px -448px; }
.champions-darius-crippling-strike { background-position:-128px -448px; }
.champions-fizz-urchin-strike { background-position:-160px -448px; }
.champions-galio-bulwark { background-position:-192px -448px; }
.champions-vi-blast-shield { background-position:-224px -448px; }
.champions-pantheon-grand-skyfall { background-position:-256px -448px; }
.champions-nasus-siphoning-strike { background-position:-288px -448px; }
.champions-aatrox-blood-well { background-position:-320px -448px; }
.champions-diana-crescent-strike { background-position:-352px -448px; }
.champions-akali-mark-of-the-assassin { background-position:0px -480px; }
.champions-trundle-frozen-domain { background-position:-32px -480px; }
.champions-leblanc-distortion { background-position:-64px -480px; }
.champions-hecarim-spirit-of-dread { background-position:-96px -480px; }
.champions-malphite-seismic-shard { background-position:-128px -480px; }
.champions-nami-surging-tides { background-position:-160px -480px; }
.champions-rumble-flamespitter { background-position:-192px -480px; }
.champions-nidalee-swipe { background-position:-224px -480px; }
.champions-leona-zenith-blade { background-position:-256px -480px; }
.champions-brand-sear { background-position:-288px -480px; }
.champions-quinn-and-valor-vault { background-position:-320px -480px; }
.champions-nasus-wither { background-position:-352px -480px; }
.champions-malzahar-malefic-visions { background-position:0px -512px; }
.champions-twisted-fate-pick-a-card { background-position:-32px -512px; }
.champions-hecarim-devastating-charge { background-position:-64px -512px; }
.champions-khazix-evolved-spike-racks { background-position:-96px -512px; }
.champions-taric-dazzle { background-position:-128px -512px; }
.champions-maokai-sap-magic { background-position:-160px -512px; }
.champions-nasus { background-position:-192px -512px; }
.champions-ashe-hawkshot { background-position:-224px -512px; }
.champions-drmundo-adrenaline-rush { background-position:-256px -512px; }
.champions-syndra-unleashed-power { background-position:-288px -512px; }
.champions-miss-fortune-strut { background-position:-320px -512px; }
.champions-renekton { background-position:-352px -512px; }
.champions-irelia-equilibrium-strike { background-position:0px -544px; }
.champions-caitlyn { background-position:-32px -544px; }
.champions-gangplank { background-position:-64px -544px; }
.champions-riven-blade-of-the-exile { background-position:-96px -544px; }
.champions-veigar-event-horizon { background-position:-128px -544px; }
.champions-vayne-condemn { background-position:-160px -544px; }
.champions-leona-sunlight { background-position:-192px -544px; }
.champions-fizz-seastone-trident { background-position:-224px -544px; }
.champions-karma-renewa { background-position:-256px -544px; }
.champions-poppy-heroic-charge { background-position:-288px -544px; }
.champions-jarvan-iv { background-position:-320px -544px; }
.champions-quinn-and-valor-skystrike { background-position:-352px -544px; }
.champions-rengar-unseen-predator { background-position:0px -576px; }
.champions-darius-decimate { background-position:-32px -576px; }
.champions-ryze-rune-prison { background-position:-64px -576px; }
.champions-garen-courage { background-position:-96px -576px; }
.champions-renekton-reign-of-anger { background-position:-128px -576px; }
.champions-malphite-granite-shield { background-position:-160px -576px; }
.champions-amumu-despair { background-position:-192px -576px; }
.champions-ezreal-arcane-shift { background-position:-224px -576px; }
.champions-annie-incinerate { background-position:-256px -576px; }
.champions-lulu { background-position:-288px -576px; }
.champions-twitch-ambush { background-position:-320px -576px; }
.champions-veigar-equilibrium { background-position:-352px -576px; }
.champions-blitzcrank { background-position:0px -608px; }
.champions-twisted-fate-gate { background-position:-32px -608px; }
.champions-twitch-venom-cask { background-position:-64px -608px; }
.champions-jayce-acceleration-gate { background-position:-96px -608px; }
.champions-malzahar-summon-voidling { background-position:-128px -608px; }
.champions-lulu-glitterlance { background-position:-160px -608px; }
.champions-gragas-explosive-cask { background-position:-192px -608px; }
.champions-quinn-and-valor-harrier { background-position:-224px -608px; }
.champions-udyr-phoenix-stance { background-position:-256px -608px; }
.champions-draven { background-position:-288px -608px; }
.champions-akali-shadow-dance { background-position:-320px -608px; }
.champions-orianna-clockwork-windup { background-position:-352px -608px; }
.champions-nami { background-position:0px -640px; }
.champions-galio-resolute-smite { background-position:-32px -640px; }
.champions-cassiopeia-deadly-cadence { background-position:-64px -640px; }
.champions-leblanc-ethereal-chains { background-position:-96px -640px; }
.champions-vayne-tumble { background-position:-128px -640px; }
.champions-katarina-bouncing-blades { background-position:-160px -640px; }
.champions-rengar-thrill-of-the-hunt { background-position:-192px -640px; }
.champions-akali-crescent-slash { background-position:-224px -640px; }
.champions-ahri-orb-of-deception { background-position:-256px -640px; }
.champions-fiora-blade-waltz { background-position:-288px -640px; }
.champions-jarvan-iv-martial-cadence { background-position:-320px -640px; }
.champions-khazix-evolved-enlarged-claws { background-position:-352px -640px; }
.champions-ryze-arcane-mastery { background-position:0px -672px; }
.champions-aatrox-blood-thirst { background-position:-32px -672px; }
.champions-galio-idol-of-durand { background-position:-64px -672px; }
.champions-mordekaiser-children-of-the-grave { background-position:-96px -672px; }
.champions-twitch-spray-and-pray { background-position:-128px -672px; }
.champions-talon-mercy { background-position:-160px -672px; }
.champions-syndra-scatter-the-weak { background-position:-192px -672px; }
.champions-udyr-turtle-stance { background-position:-224px -672px; }
.champions-corki-gatling-gun { background-position:-256px -672px; }
.champions-urgot-zauntouched-bolt-augmenter { background-position:-288px -672px; }
.champions-pantheon-aegis-of-zeonia { background-position:-320px -672px; }
.champions-nunu-absolute-zero { background-position:-352px -672px; }
.champions-blitzcrank-power-fist { background-position:0px -704px; }
.champions-teemo-camouflage { background-position:-32px -704px; }
.champions-thresh-the-box { background-position:-64px -704px; }
.champions-riven-ki-burst { background-position:-96px -704px; }
.champions-nocturne-paranoia { background-position:-128px -704px; }
.champions-luxi { background-position:-160px -704px; }
.champions-nocturne { background-position:-192px -704px; }
.champions-tristana-explosive-shot { background-position:-224px -704px; }
.champions-renekton-ruthless-predator { background-position:-256px -704px; }
.champions-rammus-spiked-shell { background-position:-288px -704px; }
.champions-hecarim-rampage { background-position:-320px -704px; }
.champions-kogmaw-bioarcane-barrage { background-position:-352px -704px; }
.champions-sejuani-frost-armor { background-position:0px -736px; }
.champions-varus-hail-of-arrows { background-position:-32px -736px; }
.champions-trundle-chomp { background-position:-64px -736px; }
.champions-cassiopeia { background-position:-96px -736px; }
.champions-jayce-transform-mercury-hammer { background-position:-128px -736px; }
.champions-pantheon { background-position:-160px -736px; }
.champions-ashe { background-position:-192px -736px; }
.champions-caitlyn-headshot { background-position:-224px -736px; }
.champions-nautilus-dredge-line { background-position:-256px -736px; }
.champions-kayle-intervention { background-position:-288px -736px; }
.champions-master-yi-wuju-style { background-position:-320px -736px; }
.champions-drmundo-infected-cleaver { background-position:-352px -736px; }
.champions-riven-runic-blade { background-position:0px -768px; }
.champions-twisted-fate-gold-card { background-position:-32px -768px; }
.champions-renekton-dominus { background-position:-64px -768px; }
.champions-janna-tailwind { background-position:-96px -768px; }
.champions-nocturne-duskbringer { background-position:-128px -768px; }
.champions-evelynn-hate-spike { background-position:-160px -768px; }
.champions-katarina-death-lotus { background-position:-192px -768px; }
.champions-lissandra-ring-of-frost { background-position:-224px -768px; }
.champions-tryndamere-bloodlust { background-position:-256px -768px; }
.champions-corki-hextech-shrapnel-shells { background-position:-288px -768px; }
.champions-caitlyn-ace-in-the-hole { background-position:-320px -768px; }
.champions-chogath { background-position:-352px -768px; }
.champions-poppy-paragon-of-demacia { background-position:0px -800px; }
.champions-urgot-noxian-corrosive-charge { background-position:-32px -800px; }
.champions-taric-shatter { background-position:-64px -800px; }
.champions-olaf-berserker-rage { background-position:-96px -800px; }
.champions-quinn-and-valor-heightened-senses { background-position:-128px -800px; }
.champions-akali-twilight-shroud { background-position:-160px -800px; }
.champions-fiora { background-position:-192px -800px; }
.champions-brand-blaze { background-position:-224px -800px; }
.champions-vayne-silver-bolts { background-position:-256px -800px; }
.champions-jax { background-position:-288px -800px; }
.champions-vi { background-position:-320px -800px; }
.champions-mordekaiser { background-position:-352px -800px; }
.champions-heimerdinger-upgrade { background-position:0px -832px; }
.champions-thresh-flay { background-position:-32px -832px; }
.champions-brand-conflagration { background-position:-64px -832px; }
.champions-evelynn-agonys-embrace { background-position:-96px -832px; }
.champions-vayne-night-hunter { background-position:-128px -832px; }
.champions-blitzcrank-rocket-grab { background-position:-160px -832px; }
.champions-ryze { background-position:-192px -832px; }
.champions-aatrox { background-position:-224px -832px; }
.champions-gangplank-parrrley { background-position:-256px -832px; }
.champions-olaf-ragnarok { background-position:-288px -832px; }
.champions-master-yi-double-strike { background-position:-320px -832px; }
.champions-ahri-spirit-rush { background-position:-352px -832px; }
.champions-draven-whirling-death { background-position:0px -864px; }
.champions-chogath-feral-scream { background-position:-32px -864px; }
.champions-jarvan-iv-golden-aegis { background-position:-64px -864px; }
.champions-orianna-command-shockwave { background-position:-96px -864px; }
.champions-ziggs-hexplosive-minefield { background-position:-128px -864px; }
.champions-jayce { background-position:-160px -864px; }
.champions-kassadin-null-sphere { background-position:-192px -864px; }
.champions-tristana-rocket-jump { background-position:-224px -864px; }
.champions-jayce-hextech-capacitor { background-position:-256px -864px; }
.champions-varus { background-position:-288px -864px; }
.champions-cassiopeia-petrifying-gaze { background-position:-320px -864px; }
.champions-master-yi-meditate { background-position:-352px -864px; }
.champions-hecarim-onslaught-of-shadows { background-position:0px -896px; }
.champions-ziggs { background-position:-32px -896px; }
.champions-olaf { background-position:-64px -896px; }
.champions-twisted-fate { background-position:-96px -896px; }
.champions-tryndamere-undying-rage { background-position:-128px -896px; }
.champions-evelynn-ravage { background-position:-160px -896px; }
.champions-nasus-spirit-fire { background-position:-192px -896px; }
.champions-diana { background-position:-224px -896px; }
.champions-nocturne-shroud-of-darkness { background-position:-256px -896px; }
.champions-trundle-kings-tribute { background-position:-288px -896px; }
.champions-lissandra-frozen-tomb { background-position:-320px -896px; }
.champions-katarina { background-position:-352px -896px; }
.champions-brand-pillar-of-flame { background-position:0px -928px; }
.champions-amumu { background-position:-32px -928px; }
.champions-karthus-lay-waste { background-position:-64px -928px; }
.champions-ezreal-rising-spell-force { background-position:-96px -928px; }
.champions-leesin-iron-will { background-position:-128px -928px; }
.champions-poppy-valiant-fighter { background-position:-160px -928px; }
.champions-brand-pyroclasm { background-position:-192px -928px; }
.champions-amumu-curse-of-the-sad-mummy { background-position:-224px -928px; }
.champions-taric-radiance { background-position:-256px -928px; }
.champions-fiddlesticks-dark-wind { background-position:-288px -928px; }
.champions-quinn-and-valor-tag-team { background-position:-320px -928px; }
.champions-talon { background-position:-352px -928px; }
.champions-anivia-flash-frost { background-position:0px -960px; }
.champions-renekton-cull-the-meek { background-position:-32px -960px; }
.champions-darius { background-position:-64px -960px; }
.champions-alistar-pulverize { background-position:-96px -960px; }
.champions-urgot-hyperkinetic-position-reverser { background-position:-128px -960px; }
.champions-syndra-transcendent { background-position:-160px -960px; }
.champions-chogath-feast { background-position:-192px -960px; }
.champions-chogath-carnivore { background-position:-224px -960px; }
.champions-ahri-charm { background-position:-256px -960px; }
.champions-gragas-barrel-roll { background-position:-288px -960px; }
.champions-drmundo-sadism { background-position:-320px -960px; }
.champions-drmundo-masochism { background-position:-352px -960px; }
.champions-teemo-blinding-dart { background-position:0px -992px; }
.champions-elise-volatile-spiderling { background-position:-32px -992px; }
.champions-luxi-prismatic-barrier { background-position:-64px -992px; }
.champions-nasus-soul-eater { background-position:-96px -992px; }
.champions-jax-grandmasters-might { background-position:-128px -992px; }
.champions-elise-rappel { background-position:-160px -992px; }
.champions-karthus-death-defied { background-position:-192px -992px; }
.champions-graves { background-position:-224px -992px; }
.champions-nidalee-prowl { background-position:-256px -992px; }
.champions-janna-monsoon { background-position:-288px -992px; }
.champions-akali-twin-disciplines { background-position:-320px -992px; }
.champions-maokai { background-position:-352px -992px; }
.champions-alistar-triumphant-roar { background-position:0px -1024px; }
.champions-tristana-rapid-fire { background-position:-32px -1024px; }
.champions-olaf-undertow { background-position:-64px -1024px; }
.champions-heimerdinger-ch1-concussion-grenade { background-position:-96px -1024px; }
.champions-annie-summon-tibbers { background-position:-128px -1024px; }
.champions-malzahar { background-position:-160px -1024px; }
.champions-draven-wicked-blades { background-position:-192px -1024px; }
.champions-nautilus-staggering-blow { background-position:-224px -1024px; }
.champions-teemo-move-quick { background-position:-256px -1024px; }
.champions-graves-buckshot { background-position:-288px -1024px; }
.champions-fizz-chum-the-waters { background-position:-320px -1024px; }
.champions-cassiopeia-twin-fang { background-position:-352px -1024px; }
.champions-nami-tidecallers-blessing { background-position:0px -1056px; }
.champions-tryndamere-battle-fury { background-position:-32px -1056px; }
.champions-nidalee-aspect-of-the-cougar { background-position:-64px -1056px; }
.champions-talon-noxian-diplomacy { background-position:-96px -1056px; }
.champions-elise-neurotoxin { background-position:-128px -1056px; }
.champions-viktor { background-position:-160px -1056px; }
.champions-katarina-voracity { background-position:-192px -1056px; }
.champions-rengar-empowered-savagery { background-position:-224px -1056px; }
.champions-thresh-dark-passage { background-position:-256px -1056px; }
.champions-anivia-frostbite { background-position:-288px -1056px; }
.champions-jax-empower { background-position:-320px -1056px; }
.champions-caitlyn-yordle-snap-trap { background-position:-352px -1056px; }
.champions-malzahar-nether-grasp { background-position:0px -1088px; }
.champions-twisted-fate-red-card { background-position:-32px -1088px; }
.champions-anivia-crystallize { background-position:-64px -1088px; }
.champions-graves-true-grit { background-position:-96px -1088px; }
.champions-caitlyn-90-caliber-net { background-position:-128px -1088px; }
.champions-lissandra-glacial-path { background-position:-160px -1088px; }
.champions-nautilus-titans-wrath { background-position:-192px -1088px; }
.champions-ashe-volley { background-position:-224px -1088px; }
.champions-lulu-help-pix { background-position:-256px -1088px; }
.champions-vayne { background-position:-288px -1088px; }
.champions-rengar-bola-strike { background-position:-320px -1088px; }
.champions-maokai-sapling-toss { background-position:-352px -1088px; }
.champions-fizz-nimble-fighter { background-position:0px -1120px; }
.champions-leesin-cripple { background-position:-32px -1120px; }
.champions-leona { background-position:-64px -1120px; }
.champions-kogmaw-caustic-spittle { background-position:-96px -1120px; }
.champions-karma-focused-resolve { background-position:-128px -1120px; }
.champions-kassadin-riftwalk { background-position:-160px -1120px; }
.champions-leesin-tempest { background-position:-192px -1120px; }
.champions-veigar-dark-matter { background-position:-224px -1120px; }
.champions-twitch-deadly-venom { background-position:-256px -1120px; }
.champions-tristana-buster-shot { background-position:-288px -1120px; }
.champions-rumble-electroharpoon { background-position:-320px -1120px; }
.champions-taric { background-position:-352px -1120px; }
.champions-karma { background-position:0px -1152px; }
.champions-jayce-lightning-field { background-position:-32px -1152px; }
.champions-malphite-brutal-strikes { background-position:-64px -1152px; }
.champions-jayce-to-the-skies { background-position:-96px -1152px; }
.champions-master-yi-alpha-strike { background-position:-128px -1152px; }
.champions-karma-mantra { background-position:-160px -1152px; }
.champions-miss-fortune-bullet-time { background-position:-192px -1152px; }
.champions-caitlyn-piltover-peacemaker { background-position:-224px -1152px; }
.champions-garen-perseverance { background-position:-256px -1152px; }
.champions-renekton-dice { background-position:-288px -1152px; }
.champions-corki-valkyrie { background-position:-320px -1152px; }
.champions-gangplank-cannon-barrage { background-position:-352px -1152px; }
.champions-tryndamere-mocking-shout { background-position:0px -1184px; }
.champions-elise-cocoon { background-position:-32px -1184px; }
.champions-rengar-battle-roar { background-position:-64px -1184px; }
.champions-fizz { background-position:-96px -1184px; }
.champions-nidalee-pounce { background-position:-128px -1184px; }
.champions-irelia-transcendent-blades { background-position:-160px -1184px; }
.champions-mordekaiser-iron-man { background-position:-192px -1184px; }
.champions-leesin-flurry { background-position:-224px -1184px; }
.champions-janna { background-position:-256px -1184px; }
.champions-diana-lunar-rush { background-position:-288px -1184px; }
.champions-nocturne-unspeakable-horror { background-position:-320px -1184px; }
.champions-blitzcrank-mana-barrier { background-position:-352px -1184px; }
.champions-draven-spinning-axe { background-position:0px -1216px; }
.champions-karthus-wall-of-pain { background-position:-32px -1216px; }
.champions-luxi-final-spark { background-position:-64px -1216px; }
.champions-olaf-vicious-strikes { background-position:-96px -1216px; }
.champions-darius-noxian-guillotine { background-position:-128px -1216px; }
.champions-fiddlesticks-crowstorm { background-position:-160px -1216px; }
.champions-kassadin-void-ston { background-position:-192px -1216px; }
.champions-rengar { background-position:-224px -1216px; }
.champions-miss-fortune-impure-shots { background-position:-256px -1216px; }
.champions-nidalee { background-position:-288px -1216px; }
.champions-malphite { background-position:-320px -1216px; }
.champions-kayle-divine-blessing { background-position:-352px -1216px; }
.champions-karthus { background-position:0px -1248px; }
.champions-ziggs-satchel-charge { background-position:-32px -1248px; }
.champions-darius-hemorrhage { background-position:-64px -1248px; }
.champions-miss-fortune { background-position:-96px -1248px; }
.champions-nunu-consume { background-position:-128px -1248px; }
.champions-riven { background-position:-160px -1248px; }
.champions-varus-blighted-quiver { background-position:-192px -1248px; }
.champions-luxi-lucent-singularity { background-position:-224px -1248px; }
.champions-leesin-safeguard { background-position:-256px -1248px; }
.champions-graves-quickdraw { background-position:-288px -1248px; }
.champions-garen-judgment { background-position:-320px -1248px; }
.champions-lissandra { background-position:-352px -1248px; }
.champions-amumu-bandage-toss { background-position:0px -1280px; }
.champions-nasus-fury-of-the-sands { background-position:-32px -1280px; }
.champions-corki { background-position:-64px -1280px; }
.champions-sejuani { background-position:-96px -1280px; }
.champions-galio-runic-skin { background-position:-128px -1280px; }
.champions-nunu-visionary { background-position:-160px -1280px; }
.champions-gragas-happy-hour { background-position:-192px -1280px; }
.champions-fiddlesticks-drain { background-position:-224px -1280px; }
.champions-garen { background-position:-256px -1280px; }
.champions-fiora-lunge { background-position:-288px -1280px; }
.champions-vayne-final-hour { background-position:-320px -1280px; }
.champions-kayle { background-position:-352px -1280px; }
.champions-poppy-devastating-blow { background-position:0px -1312px; }
.champions-thresh-damnation { background-position:-32px -1312px; }
.champions-udyr { background-position:-64px -1312px; }
.champions-aatrox-blades-of-torment { background-position:-96px -1312px; }
.champions-udyr-monkeys-agility { background-position:-128px -1312px; }
.champions-nidalee-bushwhack { background-position:-160px -1312px; }
.champions-veigar-primordial-burst { background-position:-192px -1312px; }
.champions-diana-pale-cascade { background-position:-224px -1312px; }
.champions-anivia-rebirth { background-position:-256px -1312px; }
.champions-drmundo { background-position:-288px -1312px; }
.champions-twisted-fate-destiny { background-position:-320px -1312px; }
.champions-gragas-body-slam { background-position:-352px -1312px; }
.champions-heimerdinger-hextech-microrockets { background-position:0px -1344px; }
.champions-malzahar-call-of-the-void { background-position:-32px -1344px; }
.champions-teemo-toxic-shot { background-position:-64px -1344px; }
.champions-irelia-hiten-style { background-position:-96px -1344px; }
.champions-orianna-command-protect { background-position:-128px -1344px; }
.champions-urgot-terror-capacitor { background-position:-160px -1344px; }
.champions-urgot { background-position:-192px -1344px; }
.champions-jax-relentless-assault { background-position:-224px -1344px; }
.champions-thresh { background-position:-256px -1344px; }
.champions-karthus-defile { background-position:-288px -1344px; }
.champions-riven-valor { background-position:-320px -1344px; }
.champions-brand { background-position:-352px -1344px; }
.champions-miss-fortune-double-up { background-position:0px -1376px; }
.champions-jayce-thundering-blow { background-position:-32px -1376px; }
.champions-sejuani-permafrost { background-position:-64px -1376px; }
.champions-lissandra-ice-shard { background-position:-96px -1376px; }
.champions-olaf-reckless-swing { background-position:-128px -1376px; }
.champions-twisted-fate-blue-card { background-position:-160px -1376px; }
.champions-kassadin { background-position:-192px -1376px; }
.champions-cassiopeia-miasma { background-position:-224px -1376px; }
.champions-amumu-cursed-touch { background-position:-256px -1376px; }
.champions-alistar-unbreakable-will { background-position:-288px -1376px; }
.champions-evelynn { background-position:-320px -1376px; }
.champions-kogmaw-void-ooze { background-position:-352px -1376px; }
.champions-pantheon-certain-death { background-position:0px -1408px; }
.champions-corki-missile-barrage { background-position:-32px -1408px; }
.champions-syndra-force-of-will { background-position:-64px -1408px; }
.champions-nidalee-primal-surge { background-position:-96px -1408px; }
.champions-jax-counter-strike { background-position:-128px -1408px; }
.champions-jarvan-iv-cataclysm { background-position:-160px -1408px; }
.champions-rengar-empowered-bola-strike { background-position:-192px -1408px; }
.champions-rengar-empowered-battle-roar { background-position:-224px -1408px; }
.champions-nidalee-takedown { background-position:-256px -1408px; }
.champions-fiddlesticks { background-position:-288px -1408px; }
.champions-rumble-junkyard-titan { background-position:-320px -1408px; }
.champions-annie-pyromania { background-position:-352px -1408px; }
.champions-leblanc-mimic { background-position:0px -1440px; }
.champions-pantheon-spear-shot { background-position:-32px -1440px; }
.champions-viktor-evolving-technology { background-position:-64px -1440px; }
.champions-leesin-sonic-wave { background-position:-96px -1440px; }
.champions-morgana-soul-shackles { background-position:-128px -1440px; }
.champions-gangplank-grog-soaked-blade { background-position:-160px -1440px; }
.champions-nautilus-riptide { background-position:-192px -1440px; }
.champions-maokai-arcane-smash { background-position:-224px -1440px; }
.champions-malphite-ground-slam { background-position:-256px -1440px; }
.champions-udyr-bear-stance { background-position:-288px -1440px; }
.champions-jarvan-iv-demacian-standard { background-position:-320px -1440px; }
.champions-lulu-pix-faerie-companion { background-position:-352px -1440px; }
.champions-janna-eye-of-the-storm { background-position:0px -1472px; }
.champions-darius-apprehend { background-position:-32px -1472px; }
.champions-fiddlesticks-terrify { background-position:-64px -1472px; }
.champions-leona-solar-flare { background-position:-96px -1472px; }
.champions-pantheon-heartseeker-strike { background-position:-128px -1472px; }
.champions-evelynn-shadow-walk { background-position:-160px -1472px; }
.champions-khazix-evolved-active-camouflage { background-position:-192px -1472px; }
.champions-rammus { background-position:-224px -1472px; }
.champions-miss-fortune-make-it-rain { background-position:-256px -1472px; }
.champions-kassadin-force-pulse { background-position:-288px -1472px; }
.champions-teemo { background-position:-320px -1472px; }
.champions-khazix-void-assault { background-position:-352px -1472px; }
.champions-orianna { background-position:0px -1504px; }
.champions-leona-eclipse { background-position:-32px -1504px; }
.champions-nunu-ice-blast { background-position:-64px -1504px; }
.champions-twitch { background-position:-96px -1504px; }
.champions-rammus-puncturing-taunt { background-position:-128px -1504px; }
.champions-katarina-shunpo { background-position:-160px -1504px; }
.champions-riven-wind-slash { background-position:-192px -1504px; }
.champions-rammus-tremors { background-position:-224px -1504px; }
.champions-fizz-trickster { background-position:-256px -1504px; }
.champions-vi-assault-and-battery { background-position:-288px -1504px; }
.champions-karma-gathering-fire { background-position:-320px -1504px; }
.champions-morgana { background-position:-352px -1504px; }
.champions-varus-chain-of-corruption { background-position:0px -1536px; }
.champions-jayce-shock-blast { background-position:-32px -1536px; }
.champions-syndra-dark-sphere { background-position:-64px -1536px; }
.champions-khazix-taste-their-fear { background-position:-96px -1536px; }
.champions-irelia-ionian-fervor { background-position:-128px -1536px; }
.champions-nautilus-depth-charge { background-position:-160px -1536px; }
.champions-gangplank-reise-morale { background-position:-192px -1536px; }
.champions-kayle-righteous-fury { background-position:-224px -1536px; }
.champions-thresh-death-sentence { background-position:-256px -1536px; }
