.items {height: 48px; width: 48px;}
.items-vision-ward { background-position:0px 0px; }
.items-cloth-armor { background-position:-48px 0px; }
.items-spirit-stone { background-position:-96px 0px; }
.items-frozen-mallet { background-position:-144px 0px; }
.items-sword-of-the-occult { background-position:-192px 0px; }
.items-recurve-bow { background-position:-240px 0px; }
.items-runaans-hurricane { background-position:-288px 0px; }
.items-guardian-angel { background-position:-336px 0px; }
.items-zekes-herald { background-position:-384px 0px; }
.items-zhonyas-hourglass { background-position:-432px 0px; }
.items-spirit-of-the-spectral-wraith { background-position:-480px 0px; }
.items-dorans-shield { background-position:-528px 0px; }
.items-mikaels-crucible { background-position:0px -48px; }
.items-wardens-mail { background-position:-48px -48px; }
.items-sightstone { background-position:-96px -48px; }
.items-odyns-veil { background-position:-144px -48px; }
.items-quicksilver-sash { background-position:-192px -48px; }
.items-youmuus-ghostblade { background-position:-240px -48px; }
.items-dorans-blade { background-position:-288px -48px; }
.items-archangels-staff { background-position:-336px -48px; }
.items-guinsoos-rageblade { background-position:-384px -48px; }
.items-rejuvenation-bead { background-position:-432px -48px; }
.items-the-lightbringer { background-position:-480px -48px; }
.items-seekers-armguard { background-position:-528px -48px; }
.items-negatron-cloak { background-position:0px -96px; }
.items-mercurys-treads { background-position:-48px -96px; }
.items-thornmail { background-position:-96px -96px; }
.items-haunting-guise { background-position:-144px -96px; }
.items-sight-ward { background-position:-192px -96px; }
.items-nashors-tooth { background-position:-240px -96px; }
.items-liandrys-torment { background-position:-288px -96px; }
.items-amplifying-tome { background-position:-336px -96px; }
.items-hextech-gunblade { background-position:-384px -96px; }
.items-total-biscuit-of-rejuvenation { background-position:-432px -96px; }
.items-zephyr { background-position:-480px -96px; }
.items-void-staff { background-position:-528px -96px; }
.items-phantom-dancer { background-position:0px -144px; }
.items-boots-of-swiftness { background-position:-48px -144px; }
.items-glacial-shroud { background-position:-96px -144px; }
.items-runic-bulwark { background-position:-144px -144px; }
.items-twin-shadows { background-position:-192px -144px; }
.items-mejais-soulstealer { background-position:-240px -144px; }
.items-blade-of-the-ruined-king { background-position:-288px -144px; }
.items-trinity-force { background-position:-336px -144px; }
.items-malady { background-position:-384px -144px; }
.items-prospectors-ring { background-position:-432px -144px; }
.items-ravenous-hydra { background-position:-480px -144px; }
.items-rabadons-deathcap { background-position:-528px -144px; }
.items-aegis-of-the-legion { background-position:0px -192px; }
.items-blasting-wand { background-position:-48px -192px; }
.items-abyssal-scepter { background-position:-96px -192px; }
.items-ruby-sightstone { background-position:-144px -192px; }
.items-elixir-of-brilliance { background-position:-192px -192px; }
.items-mana-manipulator { background-position:-240px -192px; }
.items-needlessly-large-rod { background-position:-288px -192px; }
.items-athenes-unholy-grail { background-position:-336px -192px; }
.items-ohmwrecker { background-position:-384px -192px; }
.items-spirit-of-the-ancient-golem { background-position:-432px -192px; }
.items-oracles-extract { background-position:-480px -192px; }
.items-bf-sword { background-position:-528px -192px; }
.items-infinity-edge { background-position:0px -240px; }
.items-maw-of-malmortius { background-position:-48px -240px; }
.items-statikk-shiv { background-position:-96px -240px; }
.items-elixir-of-fortitude { background-position:-144px -240px; }
.items-chain-vest { background-position:-192px -240px; }
.items-wits-end { background-position:-240px -240px; }
.items-crystalline-flask { background-position:-288px -240px; }
.items-porosnax { background-position:-336px -240px; }
.items-will-of-the-ancients { background-position:-384px -240px; }
.items-emblem-of-valor { background-position:-432px -240px; }
.items-ichor-of-rage { background-position:-480px -240px; }
.items-hextech-revolver { background-position:-528px -240px; }
.items-zeal { background-position:0px -288px; }
.items-fiendish-codex { background-position:-48px -288px; }
.items-eleisas-miracle { background-position:-96px -288px; }
.items-last-whisper { background-position:-144px -288px; }
.items-warmogs-armor { background-position:-192px -288px; }
.items-ichor-of-illumination { background-position:-240px -288px; }
.items-null-magic-mantle { background-position:-288px -288px; }
.items-executioners-calling { background-position:-336px -288px; }
.items-boots-of-speed { background-position:-384px -288px; }
.items-sorcerers-shoes { background-position:-432px -288px; }
.items-hextech-sweeper { background-position:-480px -288px; }
.items-blackfire-torch { background-position:-528px -288px; }
.items-muramana { background-position:0px -336px; }
.items-stinger { background-position:-48px -336px; }
.items-sanguine-blade { background-position:-96px -336px; }
.items-long-sword { background-position:-144px -336px; }
.items-morellonomicon { background-position:-192px -336px; }
.items-tear-of-the-goddess { background-position:-240px -336px; }
.items-mercurial-scimitar { background-position:-288px -336px; }
.items-madreds-razors { background-position:-336px -336px; }
.items-seraphs-embrace { background-position:-384px -336px; }
.items-dorans-ring { background-position:-432px -336px; }
.items-the-bloodthirster { background-position:-480px -336px; }
.items-phage { background-position:-528px -336px; }
.items-berserkers-greaves { background-position:0px -384px; }
.items-wooglets-witchcap { background-position:-48px -384px; }
.items-kindlegem { background-position:-96px -384px; }
.items-frozen-heart { background-position:-144px -384px; }
.items-boots-of-mobility { background-position:-192px -384px; }
.items-tiamat { background-position:-240px -384px; }
.items-shurelyas-reverie { background-position:-288px -384px; }
.items-locket-of-the-iron-solari { background-position:-336px -384px; }
.items-giants-belt { background-position:-384px -384px; }
.items-explorers-ward { background-position:-432px -384px; }
.items-ionian-boots-of-lucidity { background-position:-480px -384px; }
.items-overlords-bloodmail { background-position:-528px -384px; }
.items-cloak-of-agility { background-position:0px -432px; }
.items-prospectors-blade { background-position:-48px -432px; }
.items-randuins-omen { background-position:-96px -432px; }
.items-spirit-of-the-elder-lizard { background-position:-144px -432px; }
.items-deathfire-grasp { background-position:-192px -432px; }
.items-hunters-machete { background-position:-240px -432px; }
.items-kages-lucky-pick { background-position:-288px -432px; }
.items-chalice-of-harmony { background-position:-336px -432px; }
.items-ninja-tabi { background-position:-384px -432px; }
.items-mana-potion { background-position:-432px -432px; }
.items-health-potion { background-position:-480px -432px; }
.items-iceborn-gauntlet { background-position:-528px -432px; }
.items-hexdrinker { background-position:0px -480px; }
.items-kitaes-bloodrazor { background-position:-48px -480px; }
.items-wriggles-lantern { background-position:-96px -480px; }
.items-sheen { background-position:-144px -480px; }
.items-ruby-crystal { background-position:-192px -480px; }
.items-spirit-visage { background-position:-240px -480px; }
.items-catalyst-the-protector { background-position:-288px -480px; }
.items-pickaxe { background-position:-336px -480px; }
.items-rod-of-ages { background-position:-384px -480px; }
.items-entropy { background-position:-432px -480px; }
.items-brawlers-gloves { background-position:-480px -480px; }
.items-atmas-impaler { background-position:-528px -480px; }
.items-dagger { background-position:0px -528px; }
.items-sunfire-cape { background-position:-48px -528px; }
.items-bilgewater-cutlass { background-position:-96px -528px; }
.items-grezs-spectral-lantern { background-position:-144px -528px; }
.items-rylais-crystal-scepter { background-position:-192px -528px; }
.items-sapphire-crystal { background-position:-240px -528px; }
.items-philosophers-stone { background-position:-288px -528px; }
.items-sword-of-the-divine { background-position:-336px -528px; }
.items-the-black-cleaver { background-position:-384px -528px; }
.items-faerie-charm { background-position:-432px -528px; }
.items-lich-bane { background-position:-480px -528px; }
.items-oracles-elixir { background-position:-528px -528px; }
.items-avarice-blade { background-position:0px -576px; }
.items-vampiric-scepter { background-position:-48px -576px; }
.items-the-brutalizer { background-position:-96px -576px; }
.items-banner-of-command { background-position:-144px -576px; }
.items-shard-of-true-ice { background-position:-192px -576px; }
.items-banshees-veil { background-position:-240px -576px; }
.items-manamune { background-position:-288px -576px; }
