@import url("champions.less");
@import url("runeicons");
@import url("summonerspells");
@import url("masteries");
@import url("items.less");

.runeicons {
    background-image: url("./runeicons.jpg");
    height: 48px;
    width: 48px;
    border: solid 1px black;
}

.champions {
    background-image: url("./champions.jpg");
    height: 48px;
    width: 48px;
    border: solid 1px black;
}

.items {
    background-image: url("./items.jpg");
    height: 48px;
    width: 48px;
    border: solid 1px black;
}

.summonerspells {
    background-image: url("./summonerspells.jpg");
    height: 48px;
    width: 48px;
    border: solid 1px black;
}

.masteries {
    background-image: url("./masteries.jpg");
    height: 48px;
    width: 48px;
    border: solid 1px black;
}

