.masteries {height: 48px; width: 48px;}
.masteries-unyielding { background-position:0px 0px; }
.masteries-wealth { background-position:-48px 0px; }
.masteries-brute-force { background-position:-96px 0px; }
.masteries-weapon-expertise { background-position:-144px 0px; }
.masteries-summoners-insight { background-position:-192px 0px; }
.masteries-tough-skin { background-position:-240px 0px; }
.masteries-intelligence { background-position:-288px 0px; }
.masteries-biscuiteer { background-position:-336px 0px; }
.masteries-improved-recall { background-position:-384px 0px; }
.masteries-pickpocket { background-position:-432px 0px; }
.masteries-scout { background-position:-480px 0px; }
.masteries-block { background-position:-528px 0px; }
.masteries-strength-of-spirit { background-position:0px -48px; }
.masteries-legendary-armor { background-position:-48px -48px; }
.masteries-deadliness { background-position:-96px -48px; }
.masteries-good-hands { background-position:-144px -48px; }
.masteries-relentless { background-position:-192px -48px; }
.masteries-defender { background-position:-240px -48px; }
.masteries-artifacer { background-position:-288px -48px; }
.masteries-perseverance { background-position:-336px -48px; }
.masteries-vampirism { background-position:-384px -48px; }
.masteries-arcane-knowledge { background-position:-432px -48px; }
.masteries-summoners-resolve { background-position:-480px -48px; }
.masteries-greed { background-position:-528px -48px; }
.masteries-nimble { background-position:0px -96px; }
.masteries-sorcery { background-position:-48px -96px; }
.masteries-explorer { background-position:-96px -96px; }
.masteries-summoners-wrath { background-position:-144px -96px; }
.masteries-awareness { background-position:-192px -96px; }
.masteries-sunder { background-position:-240px -96px; }
.masteries-destruction { background-position:-288px -96px; }
.masteries-juggernaut { background-position:-336px -96px; }
.masteries-veterans-scars { background-position:-384px -96px; }
.masteries-tenacious { background-position:-432px -96px; }
.masteries-mastermind { background-position:-480px -96px; }
.masteries-safeguard { background-position:-528px -96px; }
.masteries-archmage { background-position:0px -144px; }
.masteries-expanded-mind { background-position:-48px -144px; }
.masteries-resistance { background-position:-96px -144px; }
.masteries-havoc { background-position:-144px -144px; }
.masteries-frenzy { background-position:-192px -144px; }
.masteries-executioner { background-position:-240px -144px; }
.masteries-spellsword { background-position:-288px -144px; }
.masteries-fury { background-position:-336px -144px; }
.masteries-hardiness { background-position:-384px -144px; }
.masteries-wanderer { background-position:-432px -144px; }
.masteries-honor-guard { background-position:-480px -144px; }
.masteries-butcher { background-position:-528px -144px; }
.masteries-blast { background-position:0px -192px; }
.masteries-lethality { background-position:-48px -192px; }
.masteries-bladed-armor { background-position:-96px -192px; }
.masteries-durability { background-position:-144px -192px; }
.masteries-runic-affinity { background-position:-192px -192px; }
.masteries-mental-force { background-position:-240px -192px; }
.masteries-reinforced-armor { background-position:-288px -192px; }
.masteries-meditation { background-position:-336px -192px; }
