.runeicons {height: 48px; width: 48px;}
.runeicons-8020 { background-position:0px 0px; }
.runeicons-r-2-3 { background-position:-48px 0px; }
.runeicons-b-1-2 { background-position:-96px 0px; }
.runeicons-8017 { background-position:-144px 0px; }
.runeicons-r-4-3 { background-position:-192px 0px; }
.runeicons-b-2-3 { background-position:-240px 0px; }
.runeicons-b-2-1 { background-position:-288px 0px; }
.runeicons-red-i3 { background-position:0px -48px; }
.runeicons-8006 { background-position:-48px -48px; }
.runeicons-r-4-1 { background-position:-96px -48px; }
.runeicons-r-3-3 { background-position:-144px -48px; }
.runeicons-bl-4-3 { background-position:-192px -48px; }
.runeicons-bl-4-2 { background-position:-240px -48px; }
.runeicons-y-3-3 { background-position:-288px -48px; }
.runeicons-8001 { background-position:0px -96px; }
.runeicons-8005 { background-position:-48px -96px; }
.runeicons-10002 { background-position:-96px -96px; }
.runeicons-gold-i5 { background-position:-144px -96px; }
.runeicons-8007 { background-position:-192px -96px; }
.runeicons-b-3-2 { background-position:-240px -96px; }
.runeicons-yellow-i3 { background-position:-288px -96px; }
.runeicons-8014 { background-position:0px -144px; }
.runeicons-y-3-2 { background-position:-48px -144px; }
.runeicons-y-4-2 { background-position:-96px -144px; }
.runeicons-bl-3-1 { background-position:-144px -144px; }
.runeicons-bl-2-2 { background-position:-192px -144px; }
.runeicons-bl-2-3 { background-position:-240px -144px; }
.runeicons-y-3-1 { background-position:-288px -144px; }
.runeicons-y-4-1 { background-position:0px -192px; }
.runeicons-y-4-3 { background-position:-48px -192px; }
.runeicons-r-1-2 { background-position:-96px -192px; }
.runeicons-8009 { background-position:-144px -192px; }
.runeicons-bl-2-1 { background-position:-192px -192px; }
.runeicons-bl-4-1 { background-position:-240px -192px; }
.runeicons-bl-1-2 { background-position:-288px -192px; }
.runeicons-blue-i5 { background-position:0px -240px; }
.runeicons-8022 { background-position:-48px -240px; }
.runeicons-b-4-2 { background-position:-96px -240px; }
.runeicons-8012 { background-position:-144px -240px; }
.runeicons-8003 { background-position:-192px -240px; }
.runeicons-b-1-1 { background-position:-240px -240px; }
.runeicons-b-2-2 { background-position:-288px -240px; }
.runeicons-y-2-1 { background-position:0px -288px; }
.runeicons-8010 { background-position:-48px -288px; }
.runeicons-8016 { background-position:-96px -288px; }
.runeicons-bl-3-2 { background-position:-144px -288px; }
.runeicons-bl-1-1 { background-position:-192px -288px; }
.runeicons-r-3-1 { background-position:-240px -288px; }
.runeicons-8008 { background-position:-288px -288px; }
.runeicons-y-2-2 { background-position:0px -336px; }
.runeicons-r-4-2 { background-position:-48px -336px; }
.runeicons-r-3-2 { background-position:-96px -336px; }
.runeicons-bl-1-3 { background-position:-144px -336px; }
.runeicons-gold-i7 { background-position:-192px -336px; }
.runeicons-b-3-1 { background-position:-240px -336px; }
.runeicons-8004 { background-position:-288px -336px; }
.runeicons-8021 { background-position:0px -384px; }
.runeicons-blue-i3 { background-position:-48px -384px; }
.runeicons-y-1-2 { background-position:-96px -384px; }
.runeicons-8002 { background-position:-144px -384px; }
.runeicons-r-1-1 { background-position:-192px -384px; }
.runeicons-8013 { background-position:-240px -384px; }
.runeicons-10001 { background-position:-288px -384px; }
.runeicons-b-4-1 { background-position:0px -432px; }
.runeicons-8035 { background-position:-48px -432px; }
.runeicons-8019 { background-position:-96px -432px; }
.runeicons-r-2-1 { background-position:-144px -432px; }
.runeicons-b-3-3 { background-position:-192px -432px; }
.runeicons-r-1-3 { background-position:-240px -432px; }
.runeicons-blue-i7 { background-position:-288px -432px; }
.runeicons-gold-i3 { background-position:0px -480px; }
.runeicons-8018 { background-position:-48px -480px; }
.runeicons-y-1-1 { background-position:-96px -480px; }
.runeicons-y-1-3 { background-position:-144px -480px; }
.runeicons-8015 { background-position:-192px -480px; }
.runeicons-red-i7 { background-position:-240px -480px; }
.runeicons-r-2-2 { background-position:-288px -480px; }
.runeicons-red-i5 { background-position:0px -528px; }
.runeicons-bl-3-3 { background-position:-48px -528px; }
.runeicons-b-4-3 { background-position:-96px -528px; }
.runeicons-b-1-3 { background-position:-144px -528px; }
.runeicons-y-2-3 { background-position:-192px -528px; }
.runeicons-yellow-i7 { background-position:-240px -528px; }
.runeicons-yellow-i5 { background-position:-288px -528px; }
.runeicons-8011 { background-position:0px -576px; }
