.summonerspells {height: 48px; width: 48px;}
.summonerspells-ghost { background-position:0px 0px; }
.summonerspells-clairvoyance { background-position:-48px 0px; }
.summonerspells-barrier { background-position:-96px 0px; }
.summonerspells-flash { background-position:-144px 0px; }
.summonerspells-cleanse { background-position:-192px 0px; }
.summonerspells-smite { background-position:-240px 0px; }
.summonerspells-exhaust { background-position:-288px 0px; }
.summonerspells-ignite { background-position:0px -48px; }
.summonerspells-clarity { background-position:-48px -48px; }
.summonerspells-garrison { background-position:-96px -48px; }
.summonerspells-heal { background-position:-144px -48px; }
.summonerspells-revive { background-position:-192px -48px; }
.summonerspells-teleport { background-position:-240px -48px; }
