<html>
<head>
    <link href="css/default/leaguepress.less" rel="stylesheet/less" type="text/css">
    <link href="./vendor/codemirror/theme/monokai.css" rel="stylesheet" type="text/css">
    <link href="./vendor/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        .CodeMirror {
            width: 100%;
            height: 400px;
            font-size: 12px;
        }
    </style>
</head>

<body>
<select name="file">
    <option value="champion">champion</option>
    <option value="champion_info">champion_info</option>
</select>
<input id="load-template" type="button" value="load"/>

<table>
    <tr>
        <td>
            <textarea id="template-editor">Cool story {{ variable }}</textarea>
        </td>
        <td>
            <textarea id="template-input">{ "variable" : "bro" }</textarea>
        </td>
    </tr>
</table>

<div id="render-output">
</div>

<script type="text/javascript">
    less = {
        env : "development"
    };

    window.resourcePath = "./";
</script>

<script type="text/javascript" src="./vendor/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="./vendor/jquery.min.js"></script>
<script type="text/javascript" src="./vendor/jquery-ui.min.js"></script>
<script type="text/javascript" src="./vendor/handlebars.min.js"></script>
<script type="text/javascript" src="./vendor/less.js"></script>
<script type="text/javascript" src="./compiled/leaguepress.min.js"></script>
<script type="text/javascript" src="./vendor/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="./vendor/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="./vendor/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="./vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script type="text/javascript">
    $(function () {

        var templateEditor = $("#template-editor")[0];
        var CME = CodeMirror.fromTextArea(templateEditor, {
            mode : "text/html",
            tabSize : 2,
            theme : "monokai",
            lineNumbers : true
        });

        var templateInput = $("#template-input")[0];
        var CMI = CodeMirror.fromTextArea(templateInput, {
            mode : "text/html",
            tabSize : 2,
            theme : "monokai",
            lineNumbers : true
        });

        var renderOutput = function () {
            var template = Handlebars.compile(CME.getValue());
            eval("var inputData = " + CMI.getValue() + ";");
            $("#render-output").html(template(
                    {
                        champion : inputData,
                        slots : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                    }
            ));
        };

        CME.on("change", function () {
            renderOutput();
        });

        $("#load-template").click(function () {
            $.get("templates/" + $("[name='file']").val() + ".handlebars").done(function (data) {
                CME.setValue(data);

                var champion = $.fn.LeaguePress.findByCode("champions", "ashe");
                CMI.setValue(JSON.stringify(champion, null, 2));

                renderOutput();
            });
        });

        $(window).keypress(function(event) {
            if (!(event.which == 115 && event.ctrlKey) && !(event.which == 19)) return true;
            // alert("Ctrl-S pressed");
            event.preventDefault();
            return false;
        });
    });
</script>
</body>
</html>